    <div class="row p-3 small">
        <div class="col-lg-4 text-center">
            <h6 class>Mentions légales</h6>
            <p>Toutes les œuvres présentes sur le site sont la propriété de leur propriétaire respectif et ne sont montré qu'à des fin démonstratives</p>
        </div>
        <div class="col-lg-4 text-center">
            <h6>Navigation</h6>
            <ul class="list-unstyled d-flex justify-content-center gap-3 small">
                <li><a href="{{ path('app_home') }}" class="link-secondary list-group-item">Accueil</a></li>
                <li><a href="{{ path('app_about') }}" class="link-secondary list-group-item">A propos</a></li>
                <li><a href="{{ path('app_team') }}" class="link-secondary list-group-item">Équipe</a></li>
                <li><a href="{{ path('app_gallery') }}" class="link-secondary list-group-item">Gallery</a></li>
                <li><a href="{{ path('app_contact') }}" class="link-secondary list-group-item">Contact</a></li>
            </ul>
        </div>
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <h6>Newsletter</h6>
            <p>Envie de savoir nos derniers ajouts ? Inscrivez-vous à notre newsletter</p>
            <form class="input-group w-auto">
                <input type="email" class="form-control-sm" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-sm btn-outline-success" type="button" id="button-addon2">S'inscrire</button>
            </form>
        </div>
    </div>
