<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-controller="login-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="loginModalLabel">Connexion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form method="post" action="{{ path('app_login') }}" id="loginForm">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if access_denied %}
                            <div class="alert alert-warning">
                                <i class="icofont-lock me-2"></i>
                                <strong>Accès restreint.</strong><br>
                                <small>Veuillez vous connecter au compte administrateur pour accéder à cette page.</small>
                            </div>
                        {% endif %}
                        <label for="username" hidden></label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="Votre Email">
                        <label for="password" hidden></label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Votre Mot de passe">
                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                        <p class="small"><small><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a></small></p>
                        <div class="checkbox mb-3">
                            <input type="checkbox" name="_remember_me" id="_remember_me">
                            <label for="_remember_me">Remember me</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <p class="small"><small>Vous n'avez pas de compte? <a href="{{ path('app_register') }}" data-turbo="false">Créez-en un.</a></small></p>
                <button type="submit" form="loginForm" class="btn btn-primary">Se connecter</button>
            </div>
        </div>
    </div>
</div>
