<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="{{ path('app_home') }}">Gallery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_home") }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_about') }}">Á propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_team') }}">Équipe</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Galerie</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_gallery') }}">Toutes les œuvres</a></li>
                        {{ render(controller('App\\Controller\\NavController::header')) }}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_artists') }}">Artistes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}" data-turbo="false">Contact</a>
                </li>
            </ul>
            <div class="d-flex">
                {% if not app.user %}
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">S'identifier</button>
                {% else %}
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ asset('images/user/' ~ app.user.image) }}" alt="{{ app.user.image }}" class="img-menu"> {{ app.user.userName }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('app_user_profile') }}" class="dropdown-item">Mon profil</a></li>
                            <li><a href="{{ path('app_favorites') }}" class="dropdown-item">Mes favoris</a></li>
                            <li><a href="{{ path('app_change_info') }}" class="dropdown-item">Modifier le profil</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a href="{{ path('app_logout') }}" class="dropdown-item">Se déconnecter</a></li>
                            {% if is_granted('ROLE_MODERATOR') %}
                                <li class="dropdown-divider"></li>
                                <li><a href="{{ path('app_comments_panel') }}" class="dropdown-item">Commentaires</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown-divider"></li>
                                <li><a href="{{ path('app_admin_panel') }}" class="dropdown-item">Administration</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
