{% extends 'base.html.twig' %}

{% block title %}{{ work.title }}{% endblock %}
{% block body %}
    {% set rating = work.averageRating %}
    {% set percent = (rating / 5) * 100 %}
    {% set isFavorite = app.user in work.favorite %}

    <section class="container mt-2">
        {% include 'partials/flash.html.twig' %}
        <div class="row">
            <div class="col-md-8">
                <h2>{{ work.title }} - <a href="{{ path('app_artist', {'slug': work.artist.slug}) }}">{{ work.artist.firstName }} {{ work.artist.lastName }}</a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-center">
                <img src="{{ asset('images/work/' ~work.image) }}" alt="{{ work.image }}" class="object-fit-contain w-100 img-fluid workImg">
            </div>
            <div class="col-md-4">
                <h3>Informations sur l'œuvre</h3>
                <p>Crée en {{ work.createdAt|date("Y") }}</p>
                <p>{{ work.description|nl2br }}</p>
                <p>Technique utilisée : {{ work.technic.name }}</p>
                {% if work.averageRating %}
                    <p> Note moyenne des utilisateurs :</p>
                    <div class="star-rating" title="Note : {{ rating }}/5">
                        <div class="back-stars">
                            {% for i in 1..5 %}
                                <i class="icofont-star"></i>
                            {% endfor %}
                        </div>
                        <div class="front-stars" style="width: {{ percent }}%">
                            {% for i in 1..5 %}
                                <i class="icofont-star"></i>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p class="text-muted">Pas encore noté</p>
                {% endif %}
                {% if app.user %}
                    <div class="pt-2">
                        <a href="{{ path('app_addToFavorite', {'slug': work.slug}) }}" class="btn btn-outline-success">
                            {{ isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris' }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="container mt-2">
        <div class="row my-3">
            {% if not app.user %}
                <div class="text-center">
                    <h5>Connectez-vous</h5>
                    <p class="small">Vous devez être connecté pour laisser un avis.</p>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#loginModal">S'identifier</button>
                </div>

            {% elseif user_has_commented %}
                <div class="text-center text-success">
                    <i class="icofont-check-circled fs-1"></i>
                    <h5 class="mt-2">Merci !</h5>
                    <p>Vous avez déjà donné votre avis sur cette œuvre.</p>
                </div>

            {% else %}
                <div class="text-center py-5 border border-dashed rounded bg-white">
                    <p class="text-muted">Le formulaire de commentaire s'affichera ici.</p>
                </div>
            {% endif %}
        </div>
        {% for comment in work.comments %}
            {% if comment.isPublic %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img src="{{ asset('images/user/' ~comment.user.image) }}" class="img-fluid rounded-start" alt="{{ comment.user.image }}">
                    </div>
                    <div class="col-md-11">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.user.userName }} - {{ comment.note }}/5</h5>
                            <p class="card-text">{{ comment.description }}</p>
                            <p class="card-text"><small class="text-body-secondary">Commenté le : {{ comment.publishedAt|date('d-m-Y')  }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </section>

{% endblock %}
