{% extends 'pages/admin/base.html.twig' %}

{% block title %}Gallery - Panel Oeuvres{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-9 offset-1">
                <h1 class="display-4 pb-4">Liste des commentaires</h1>
            </div>
        </section>
        <section>
            <div class="row" data-controller="datatable" data-order-index="6" data-order-dir="desc" id="commentTable">
                <table class="table table-hover display pt-3" >
                    <thead>
                    <tr>
                        <th scope="col" class="adminThumbnail" data-dt-order="disable">Image de l'oeuvre</th>
                        <th scope="col">Oeuvre</th>
                        <th scope="col">Titre du commentaire</th>
                        <th scope="col">Note</th>
                        <th scope="col">Texte du commentaire</th>
                        <th scope="col">Publié le</th>
                        <th scope="col">Par</th>
                        <th scope="col">Publique</th>
                        <th scope="col" colspan="2" data-dt-order="disable">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td class="adminThumbnail"><img src="{{ asset('images/work/' ~comment.work.image) }}" class="img-fluid" alt="{{ comment.work.title }}"></td>
                            <td>{{ comment.work.title }}</td>
                            <td>{{ comment.title }}</td>
                            <td>{{ comment.note }}</td>
                            <td>{{ comment.description }}</td>
                            <td data-order="{{ comment.publishedAt|date('Y-m-d') }}">{{ comment.publishedAt|date('d/m/Y') }}</td>
                            <td>{{ comment.user.userName }}</td>
                            <td>{{ comment.isPublic ? "Oui" : "En attente de modération"}}</td>
                            <td>
                                <a href="{{ path('app_delete_comment', {'id': comment.id}) }}" class="btn btn-sm btn-outline-primary">
                                    <i class="icofont-ui-delete"></i>
                                </a>
                            </td>
                            <td>
                                {% if comment.isPublic %}
                                    <a href="{{ path('app_validate_comment', {'id': comment.id}) }}" class="btn btn-sm btn-outline-primary">
                                        <i class="icofont-close"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_validate_comment', {'id': comment.id}) }}" class="btn btn-sm btn-outline-primary">
                                        <i class="icofont-verification-check"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}
