{% extends 'pages/admin/base.html.twig' %}

{% block title %}Modifier le mail utilisateur{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section class="row">
        <div class="col-md-6 offset-3 py-5">
            <h1>Modifier le mail utilisateur</h1>
            {{ form_errors(changeMailForm) }}
            {{ form_start(changeMailForm) }}
            {{ form_widget(changeMailForm) }}
            <button type="submit" class="btn">Confirmer</button>
            {{ form_end(changeMailForm) }}
        </div>
    </section>
{% endblock %}
